<div class="col-md-6" id="api_client-<%= api_client.id %>">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= api_client.name %>
        <span class="label label-pill label-info">
          <% if api_client.calls_count.zero? %>
            Aucun appel
          <% else %>
            <%= api_client.calls_count %> appels
          <% end %>
        </span>
      </h3>
    </div>
    <div class="panel-body">
      <strong>APP ID: </strong><%= api_client.app_id %><br>
      <strong>APP Secret: </strong><%= api_client.app_secret %><br>
      <strong>origin: </strong><%= api_client.origin %><br>
      <strong>Nb de projets: <%= api_client.projects.count %></strong><br>
      <br>

      <%= link_to "Révoquer l'accès", admin_api_client_app_secret_path(api_client), remote: true, method: :patch, title: "Désactive l'accès en regénérant une nouvelle clef", data: { confirm: "Êtes-vous sûr de vouloir révoquer l'accès de ce client en regénérant sa clef ? Son accès sera instantanément révoqué." } %>
      | <%= link_to "Éditer", edit_admin_api_client_path(api_client), remote: true %>
      | <%= link_to "Supprimer le compte", admin_api_client_path(api_client), method: :delete, remote: true, title: "Supprime le compte", data: { confirm: "Êtes-vous sûr de vouloir supprimer ce compte ? Cette action est irrévocable. Tous les projets associés à ce compte seront supprimés." } %>
    </div>
  </div>
</div>
