<div class="col-md-5 col-md-offset-4">
  <h2>Mot de passe oublié ?</h2>

  <br>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <%= f.submit "Envoyer les instructions par email", class: "btn btn-default" %>
  <% end %>
  <br>

  <%= render "devise/shared/links" %>
</div>
